Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: default-jre (>= 1:1.6)
Depends: jsvc (>= 1.0.2)
Depends: libdbus-java (>= 2.7-1)
Maintainer: Norbert Steiner <norbert@familie-steiner.net>
Description: autologout child control
Distribution: development